.profile {
    max-width: 880px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0px 48px;
    margin: 0 auto;
    flex-direction: row;
}

@media screen and (max-width: 580px){
    .profile {
        flex-direction: column;
        max-width: 282px;
        padding: 40px 0 0px;
    }
}